<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Now Boarding</h1>
    <div class="row center">
      <h5 class="header col s12 light">A travel rewards community where you earn points for trips off of everyday purchases</h5>
    </div>
    <div class="row center">
      <a href="/users/new" id="download-button" class="btn-large waves-effect waves-light orange">Apply for Membership</a>
    </div>
    <br><br>
  </div>
</div>

<div class="row">
     <div class="col s6 m6">
       <div class="card-panel teal">
         <span class="white-text">

           <h1>Login to Your Account</h1>

           <%= form_for(:session, url: login_path) do |f| %>
             <%= f.label :username %>
             <%= f.text_field :username %>
             <%= f.label :password %>
             <%= f.password_field :password %>
           <%= f.submit "Login" %>
           <% end %>

         </span>
       </div>
     </div>

     <div class="row">
        <div class="col s6 m6">
          <div class="card">
            <div class="card-image">
              <img src="https://agendaviajera.files.wordpress.com/2011/06/bora-bora6.jpg">
              <span class="card-title white-text darken-4">Bora Bora - 1000 pts</span>
            </div>
          </div>
        </div>
      </div>
   </div>
