<h1>Edit Reward</h1>

<%= form_for(@reward, url: admin_reward_path(@reward, admin_id: @admin)) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :point_value, "Point Value" %>
  <%= f.text_field :point_value %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.submit "Update Reward" %>
<% end %>
