<h1>Admin Dashboard</h1>

<h2>Rewards:</h2>
<% Reward.all.each do |reward| %>
  <div id = <%=reward.name.downcase %> >
  <%= reward.name %><br>
  <%= reward.description %><br>
  <% if reward.image.exists? %>
    <%= image_tag(reward.image.url, width:"150")%><br>
  <% end %>
  <%= link_to "Edit", edit_admin_reward_path(@admin, reward) %> |
  <%= link_to "Delete", admin_reward_path(@admin, reward), method: :delete %><br><br>
<% end %>

<%= link_to "New Reward", new_admin_reward_path(@admin)  %>

<h2>Users:</h2>
<% User.all.each do |user| %>
  <div id = <%=user.username.downcase %> >
  <%= user.username %><br>
  <%= link_to 'Edit User', edit_admin_user_path(@admin, user) %> |
  <%= link_to 'Delete User', admin_user_path(@admin, user), method: :delete %><br><br>
  </div>
<% end %>

<%= link_to "New User", new_admin_user_path(@admin)  %>
