<h1>Admin Dashboard</h1>

<h2>Rewards:</h2>
<% Reward.all.each do |reward| %>
  <%= reward.name %>
  <%= reward.description %>
  <%= link_to "Edit", edit_admin_reward_path(@user.id) %><br>
  <%= link_to "Delete", admin_reward_path(reward), method: :delete %><br><br>
<% end %>

<%= link_to "New Reward", new_admin_reward_path(@user.id)  %>

<h2>Users:</h2>
<% User.all.each do |user| %>
  <%= user.username %>
<% end %>

<%= link_to "New User", new_user_path(admin_id: params[:id])  %>
