<h2>Create an account</h2>
<div class="container">
  <div class="row">
    <div class="col s12 m8 l12">
      <div class="card-panel blue-grey lighten-5">
        <%= form_for(@user) do |f| %>
          <%= f.label :username %>
          <%= f.text_field :username %>
          <%= f.label :password %>
          <%= f.password_field :password %>
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
          <%= f.label :top_destination %>
          <%= f.text_field :top_destination %>
          <%= f.submit "Create Account" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
